.banner {
  background-image: url("/landing/images/background.png");
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  align-items: center;
  display: flex;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 20px;
}
