.footer {
  background-color: black;
  padding: 60px;
  text-align: center;
}

.footer a {
  font-size: 30px;
  color: #0fa3b1;
}

.footer p {
  color: #6B6C6C;
  font-size: 20px;
}

.footer .fas {
  color: #BF0F12;
}
